"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    useAlternateScoring: true
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "welcome"
      "incompatible-packages"
      "archive-view"
      "bookmarks"
      "dev-live-reload"
      "exception-reporting"
      "feedback"
      "image-view"
      "link"
      "package-generator"
      "background-tips"
      "language-toml"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-java"
      "language-csharp"
      "jsonpp"
      "symbols-view"
      "language-todo"
      "language-mustache"
      "language-clojure"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    projectHome: "/Users/tmikoss/code"
    themes: [
      "atom-light-ui"
      "fizzy"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 145
    showIndentGuide: true
  "exception-reporting":
    userId: "000e8f91-7c5a-ea4b-31cd-8fef2ae9d3e5"
  "fuzzy-finder":
    useAlternateScoring: true
  jsonpp: {}
  linter:
    subtleLinterErrors: [
      "haml-lint"
    ]
  "linter-elixirc":
    forceElixirc: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  react: {}
  "release-notes":
    viewedVersion: "0.85.0"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 145
".js.jsx.source":
  editor:
    preferredLineLength: 145
".text.todo":
  editor:
    showIndentGuide: false
