'editor':
  'preferredLineLength': 145
  'fontSize': 12
'core':
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'themes': [
    'atom-light-ui'
    'fizzy'
  ]
  'disabledPackages': []
  'audioBeep': false
  'projectHome': '/Users/tmikoss/code'
  'useReactEditor': true
'release-notes':
  'viewedVersion': '0.85.0'
'welcome':
  'showOnStartup': false
'exception-reporting':
  'userId': '000e8f91-7c5a-ea4b-31cd-8fef2ae9d3e5'
'metrics':
  'userId': '8d7c1f7f79d121f5691faec9eb70cce459393f68'
